//
   Created by jdzor on 05.11.2017.
- if(hidden)
    section.hidden-xs
        .container
            .row
                .col-lg-9.col-sm-12
                    span.section-title.white= sectionTitle
                    .section-subtitle.white= subTitle
                .col-lg-3.col-sm-12
                    button#consult.btn.btn-default= btnName
- else
    section.brand-bg.call-form-section.addservice
        .container
                .row
                    .col-lg-9.col-sm-12
                        span.section-title.white= sectionTitle
                        .section-subtitle.white= subTitle
                    .col-lg-3.col-sm-12
                        button#consult.btn.btn-default= btnName